:root {
    --main-blue: #ee0514;
    --bg-color: #f2f2f2;
    --button-color: #1275c1;
    --button-border: #fff;
    --secondary-bg-light-blue: #F5F5F5;
    --tertiary-orange-bright: #fd830d;
    --secondary-dark-blue: #0f1e6a;
    --secondary-color: #f9fafe;
    --max-width: 1200px;
    --primary-bright-blue: #fff;
}

.block-content {
    width: var(--max-width);
    margin: 0 auto;
}

body {
    background-color: var(--secondary-bg-light-blue);
}

/* contains styling for the navbar*/
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: var(--primary-bright-blue); /* whaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaat */
    /* background-color: #11bc5e; */
    display: flex;
    justify-content: space-between; /* Aligns the elements to the start and end of the container */
    align-items:center;

}
nav .navbar-brand {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: medium;


    /* margin-right: 15px; */
}
nav .navbar-nav {

       flex-direction: row;
}


nav {
    overflow:visible;
    color: var(--secondary-dark-blue);
    display: flex;
}
/* logo, currentuser */

nav p{
    margin-right: 15px;
}

nav .navbar-brand p {
    margin: 0 auto;
    color: var(--secondary-dark-blue);
    font-weight: bold;
    margin-right: 30px;

}

nav .navbar-nav .nav-item{
    margin-right: 30px;
 /*    color: var(--secondary-dark-blue); */
    font-weight: bold;
}
nav .navbar-nav .nav-item a{
    color: #ee0514;

}



.nav-items a:hover {
    background-color: #ddd;
    color: black;
}

/* styling for add transactio/account button */
.add-transaction {
    margin: 10px;
}

button {
    background-color: var(--button-color) ;
    border: 2px solid #fff;
   /*  color: var(--button-border); */
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4a90e2;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 480px) {

    nav .navbar-brand p {
        margin: 0 auto;
        color: var(--secondary-dark-blue);
        font-weight:normal;
        margin-right: 5px;
        font-size: smaller;

    }
    .navbar-brand{

        width: 100%;
        padding: 0px;
        margin-right: 0.5rem;
        overflow:hidden;
    }
    nav .navbar-nav .nav-item{
        margin-right: 10px;
     /*    color: var(--secondary-dark-blue); */
        font-weight: bold;
    }
    .block-content{
        margin-top: 0px;
    }

    button {
        background-color: var(--button-color) ;
        /* background-color:#ee0514; */
        border: 2px solid #fff;
        /*  color: var(--button-border); */
        color: white;
        padding: 2px 4px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        border-radius: 10px;
        transition: background-color 0.3s;
    }
    }
