:root {
    --profile_bg: #d9f0fd;
    --profile_height: 60px;

    --main-blue: #9ceaff;
    --bg-color: #f2f2f2;

}
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.profile-bar, .totals{
    /* width: var(--page_width); */
    margin: 0px auto;
}

.head-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.current-profile,
.header-summary,
.switch-profiles {
    width: 15%; /* Adjust as needed */
    box-sizing: border-box;

}
.current-profile, .current_user{
    white-space:nowrap;
    margin-left: 5px;



}
.header-summary {
    width: 70%; /* Adjust as needed */
    text-align: center;
}

/* Additional styling if desired */
.head-bar h3 {
    margin: 0;
}
/* STYLING ADD A PROFILE button */
.profile-bar .add-profile .button{
    background-color: #79bbe7;
    font-size: larger;
}

#add-profile, #switch-prof{
    display: inline-block;
    padding: 5px;
    font-size: 16px;

    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    background-color: #1275c1;
    color: #fff;
    border: 2px solid #b3d9f7;
    text-wrap: nowrap;
}
#add-profile:hover,  #switch-prof:hover{
    background-color: #4a90e2;
    color: #fff;
    border-color: #4a90e2;
  }
.profile-bar .switch-profiles{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

/* styling for switch profiles */
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Style for the dropdown container */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d5f0fe;
    min-width: 100px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style for each item inside the dropdown */
.dropdown-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #333; /* Text color */
}

/* Hover effect for dropdown items */
.dropdown-content a:hover {
    background-color: #ddd; /* Hover background color */
}





/* Style for the user profile and add transaction */
.profile {
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin-top: 5px;
    margin: 15px auto;
    background-color: var(--profile_bg);
    height: var(--profile_height);
    position: relative;
}

.profile .user-profile {
    /* background-color: blue; */
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    height: var(--profile_height);
}

.profile .add-transaction {
   /*  background-color: rgb(201, 117, 114); */
    padding: 10px;
    text-align: center;
}

.profile-bar{
    background-color: #79bbe7;
    margin-top: 0;
}
/* style for dropdown calendar */
.profile .date-options {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #f7f5f5;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        z-index: 1;
}



#dateFilterForm {
    display: flex;
    background-color: #f7f5f5;
    align-items: center;
    gap: 5px;
}

/* Style for the labels */


/* Style for the date inputs */
#dateFilterForm input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for the submit button */
#dateFilterForm button {
    padding: 3px;
    background-color: #5c48ee;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

/* Change button color on hover */
#dateFilterForm button:hover {
    background-color: #4a3aa5;
}

/* style add account */
#add-p{
    white-space: nowrap;


}
/* styling for switch options */
.switch-profiles {
    display: flex;
    padding: 10px;
    width: 50%;

}

/* Style for the label */





/* Style for the totals section */
.totals {
    display: flex;
    flex-wrap: nowrap; /* Allow items to wrap to the next line if needed */
    justify-content: space-between;
    margin-top: 5px;
    background-color: #f7f5f5; /* Background color for the entire section */
    padding: 5px;
    box-sizing: border-box;
    align-items: start;
}

/* Style for each total container */
.totals div {
    width: calc(33.33% - 10px); /* Each container takes up one-third of the space with a small gap between them */
    margin-bottom: 5px; /* Adjust margin as needed */
    background-color: var(--profile_bg); /* Background color for individual containers */
    padding: 15px;
    box-sizing: border-box;
    background-color: bisque;

}
.totals .total-label, .totals .total-amount, .totals .top-items {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
}

.totals .budget{
    text-align: left;
}
/* Style for the total labels */
.totals .total-label h3 {
    margin-bottom: 10px;
    color: #333; /* Text color for labels */
    font-weight: ;

}

/* Style for the total amounts */
.totals .total-amount h3 {
    color: green; /* Text color for amounts */
}

.listed_items ol {
    margin-left: 5;
    padding: 0;
    white-space:nowrap;

}

.listed_items li {

    color: #000000;
    margin-bottom: 5px;


}
