{% extends "base.html" %}

{% block content %}

<section class="incomes">
    <h3>Expense</h3>
    <div class="income-summary">
        <div class="total-income">
            <div class="current-month"><p>Month: </p></div>
            <div class="monthly-income"><p>Total Monthly Expense</p></div>
        </div>
        <div class="add-transaction">
            <button> Add/Remove a Category</button>
        </div>
    </div>
</section>
<h3 class="temp">Add Expense</h3>
<section class="add-income">
     <div class="income-details">
        <div class="date">
            <label for="dateInput">Date:</label>
            <input type="date" id="dateInput" name="date" value="{{ today }}" />
        </div>       
        <div class="input-amount">
            <label for="amountInput">Amount:</label>
            <input type="text" id="amountInput" name="amount" placeholder="Enter amount" />
        </div>       
        <div class="input-category">
            <label for="categoryDropdown">Category:</label>
            <select id="categoryDropdown" name="category">
                <option value="salary">Rent</option>
                <option value="bonus">Food</option>
                <option value="dividends">Clothes</option>
            </select>
        </div>
        <div class="input-category">
            <label for="textInput">Description:</label>
            <input type="text" id="textInput" name="textInput" placeholder="Type here...">
        </div>
    </div>
</section>
<h3 class="temp">Expense Overview</h3>
<section class="income-overview">
    <div class="income-list">
        <div class="all-income">
            <h4>All Expense Logged</h4>
        </div>
        <div class="listed-income">
            <ol>
                <li>Rent</li>
                <li>Student Loan</li>
                <li>Food</li>
                <li>Vacation</li>
            </ol>
        </div>
    </div>
    <div class="income-categories">
        <div class="label-income">
            <h4>Top Categories</h4>
        </div>
        <div class="listed-income">
            <ol>
                <li>Rent</li>
                <li>Student Loan</li>
                <li>Food</li>
                <li>Vacation</li>
            </ol>
        </div>
    </div>
</section>

{% endblock %}