{% extends "base.html" %}

{% block content %}

<section class="profile-bar">
    <h3>Account Summary</h3>
    <div class="profile">
        <div class="user-profile">
            <div class="profile-photo"><img src="/ben.jpeg" alt=""></div>
            <div class="name"><p>Welcome {{ user.username }}</p></div>
        </div>
        <div class="add-transaction">
            <a href="{{ url_for('add_transaction') }}"><button> Add a Transaction</button></a>
        </div>
    </div>
</section>

<section class="totals">
    <div class="total-income">
        <div class="total-label">
            <h4>Total Income</h4>
        </div>
        <div class="total-amount">
            {% if stats %}
                <h4>{{ stats['total_income'] }}</h4>
            {% endif %}
        </div>
        <div class="top-items">
            <h5>
                Top Categories
            </h5>
        </div>
        <div class="listed_items">
            {% if stats %}
                <ol>
                    {% for item in stats['top_incomes'] %}
                        <li>{{ item[0] }}: {{ item[1] }}</li>
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
    </div>
    <div class="total-expense">
        <div class="total-label">
            <h4>Total Expense</h4>
        </div>
        <div class="total-amount">
            {% if stats %}
                <h4>{{ stats['total_expense'] }}</h4>
            {% endif %}
        </div>
        <div class="top-items">
            <h5>
                Top Categories
            </h5>
        </div>
        <div class="listed_items">
            <ol>
                {% if stats %}
                <ol>
                    {% for item in stats['top_expenses'] %}
                        <li>{{ item[0] }}: {{ item[1] }}</li>
                    {% endfor %}
                </ol>
            {% endif %}
            </ol>
        </div>
    </div>
    <div class="balance">
        <div class="total-label">
            <h4>Net Income</h4>
        </div>
        <div class="total-amount">
            {% if stats %}
                <h4>{{ stats['net_income'] }}</h4>
            {% endif %}
        </div>
        <div class="top-items budget">
            <h5>Average daily Income: </h5>
            <h5>Average daily Expenditure: </h5>
        </div>
    </div>
</section>

{% endblock %}
