{% extends "base.html" %}

{% block content %}

<section class="profile-bar">
    <div class="head-bar">
        <div class="current_user">
            <div class="current_user">From:  {{ data['start_date'] }}</div>
            <div class="current-profile">To: {{ data['end_date'] }}</div>
        </div>

        <div class="header-summary"><h3>Account Summary</h3></div>
        <div class="add-profile" >
            <a href="{{ url_for('add_profile') }}"><button id="add-profile"> Add a Profile</button></a>
        </div>
        <div class="switch-profiles">
            <label class=".switch-label" for="profileSwitch">Switch Profile:</label>
            <div class="dropdown">
                <button id="switch-prof" onclick="toggleDropdown()" class="dropbtn">Select Profile</button>
                <div id="profileDropdown" class="dropdown-content">
                    <!-- JavaScript will populate options here -->
                </div>
            </div>
        </div>
    </div>
  <!--   <h5>{{ data['start_date'] }}</h5>
    <h5>{{ data['end_date'] }}</h5> -->
<!--     {{ data }} --> <!-- will display the profile that was selected -->


    <div class="profile">
        <div class="date-filter">
            <button id="toggleDateFilter">Filter Summary by Date</button>
            <div class="date-options">
                <form action="#" method="get" id="dateFilterForm" >
                    <label for="startDate">Start Date:</label>
                    <input type="date" id="startDate" name="startDate" required>

                    <label for="endDate">End Date:</label>
                    <input type="date" id="endDate" name="endDate" required>

                    <button type="submit">Apply Filter</button>
                </form>
            </div>
        </div>
        <div class="add-transaction">
            <a href="{{ url_for('add_transaction') }}"><button> Add a Transaction</button></a>
        </div>
        <div class="add-transaction">
            <a href="{{ url_for('add_account') }}"><button> Add Account</button></a>
        </div>
    </div>
</section>

<section class="totals">
    <div class="total-income">
        <div class="total-label">
            <h4>Total Income</h4>
        </div>
        <div class="total-amount">
            {% if data %}
                <h4>{{ data['total_income'] }}</h4>
            {% endif %}
        </div>
        <div class="top-items">
            <h5>
                Top Categories
            </h5>
        </div>
        <div class="listed_items">
            {% if data %}
                <ol>
                    {% for item in data['top_incomes'] %}
                        <li>{{ item[0] }}: {{ item[1] }}</li>
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
    </div>
    <div class="total-expense">
        <div class="total-label">
            <h4>Total Expense</h4>
        </div>
        <div class="total-amount">
            {% if data %}
                <h4>{{ data['total_expense'] }}</h4>
            {% endif %}
        </div>
        <div class="top-items">
            <h5>
                Top Categories
            </h5>
        </div>
        <div class="listed_items">
            <ol>
                {% if data %}
                <ol>
                    {% for item in data['top_expenses'] %}
                        <li>{{ item[0] }}: {{ item[1] }}</li>
                    {% endfor %}
                </ol>
            {% endif %}
            </ol>
        </div>
    </div>
    <div class="balance">
        <div class="total-label">
            <h4>Net Income</h4>
        </div>
        <div class="total-amount">
            {% if data %}
                <h4>{{ data['net_income'] }}</h4>
            {% endif %}
        </div>
        <div class="top-items budget">
            <h5>Average daily Income: </h5>
            <h5>Average daily Expenditure: </h5>
        </div>
    </div>
</section>

<section class="charts-group">
    <h4>Charts</h4>
    <img src="data:image/svg+xml;base64,{{ data['graph_pie_incomes'] }}">
    <img src="data:image/svg+xml;base64,{{ data['graph_pie_expenses'] }}">
    <img src="data:image/svg+xml;base64,{{ data['graph_line_monthly_cash_flows'] }}">
    <img src="data:image/svg+xml;base64,{{ data['graph_line_monthly_net_income'] }}">

</section>

{% endblock %}
